* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;


}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(30, 27, 27);
  color: aliceblue;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5800FF;
  padding: 1rem;
  
}

.nav-link {
  text-decoration: none;
  color: aliceblue;
  
  font-weight: bold;
  margin: 1em;
  
}
.nav-left a {
  text-shadow: 3px 3px 4px #060606;
}

.nav-linkhover:hover {
  
  
 

}


.background-image {
  height: 300px;

}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.nav-icon {
width: 16px;
}
.nav-logo {
  width: 35px;
}